livekit-plugins-deepgram
livekit-plugins-elevenlabs
livekit-plugins-minimal
livekit-plugins-nltk
livekit-plugins-openai
livekit-plugins-llama-index
livekit-plugins-turn-detector
livekit-plugins-silero
python-dotenv
llama-index
sentence-transformers
llama-index-embeddings-huggingface
chromadb
llama-index-vector-stores-chroma
llama-index-llms-groq
python-multipart
livekit
torch
supabase
psycopg2-binary
livekit-agents
silero
deepgram-sdk
openai